.container-fluid{
    background-color: #2B2B31;
    
  }
.container-fluid a{
    color: white;
    
} 
.dropdown-item{
    color: black;
} 
.dropdown-menu{
    background-color: #2B2B31;
}
.nav-item{
    margin-left: auto;
}
.nav-item {
    padding-left: 50px;
}
