.container-fluid{
    background-color: #2B2B31;
    
  }
.container-fluid a{
    color: white;
    
} 
.nav-bar{
    position: sticky;
    top: 0;
}
.dropdown-item{
    color: black;
} 
.dropdown-menu{
    background-color: #2B2B31;
}
.nav-item{
    margin-left: auto;
}
.nav-item {
    padding-left: 50px;
}
.signin button{
    margin-left: 50px;
    width: 100px;
    height: 45px;
    background-color: #DF5264;
    border-radius: 5px;
}


